 <footer id="footer" class="footer color-bg">
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="address-block">

                            <!-- /.module-heading -->

                            <div class="module-body">
                                <ul class="toggle-footer" style="">
                                    <li class="media">
                                        <div class="pull-left"> <span class="icon fa-stack fa-lg"> <i class="fa fa-map-marker fa-stack-1x fa-inverse"></i> </span> </div>
                                        <div class="media-body">
                                            <p style="padding-top: 10px;">1020 Granville St , Vancouver, British Columbia , Canada</p>
                                        </div>
                                    </li>
                                    <li class="media">
                                        <div class="pull-left"> <span class="icon fa-stack fa-lg"> <i class="fa fa-mobile fa-stack-1x fa-inverse"></i> </span> </div>
                                        <div class="media-body">
                                            <p style="padding-top: 10px;">(604) 696-0040</p>
                                        </div>
                                    </li>
                                    <li class="media">
                                        <div class="pull-left"> <span class="icon fa-stack fa-lg"> <i class="fa fa-envelope fa-stack-1x fa-inverse"></i> </span> </div>
                                        <div class="media-body"> <span><a href="#">info@venusdigital.com</a></span> </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- /.module-body -->
                    </div>
                    <!-- /.col -->

                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="module-heading">
                            <h4 class="module-title">Customer Service</h4>
                        </div>
                        <!-- /.module-heading -->

                        <div class="module-body">
                            <ul class='list-unstyled'>
                                <li class="first"><a href="/MyAccount" title="My Account">My Account</a></li>
                                <li><a href="/OrderHistory" title="Order History">Order History</a></li>
                                <li><a href="/FAQ" title="faq">FAQ</a></li>
                                <li class="last"><a href="/HelpCenter" title="Need Help?">Help Center</a></li>
                            </ul>
                        </div>
                        <!-- /.module-body -->
                    </div>
                    <!-- /.col -->

                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="module-heading">
                            <h4 class="module-title">Corporation</h4>
                        </div>
                        <!-- /.module-heading -->

                        <div class="module-body">
                            <ul class='list-unstyled'>
                                <li class="first"><a title="About Us" href="/AboutUs">About us</a></li>
                                <li><a href="/ContactUs" title="Contact Us">Contact Us</a></li>
                                <li><a href="/Privacy" title="Contact Us">Privacy Policy</a></li>
                            </ul>
                        </div>
                        <!-- /.module-body -->
                    </div>
                    <!-- /.col -->
                </div>
            </div>
        </div>
        <div class="copyright-bar">
            <div class="container">
                <div class="col-xs-12 col-sm-4 no-padding social">
                    <ul class="link">
                        <li class="fb pull-left"><a target="_blank" rel="nofollow" href="https://facebook.com/VenusDigital" title="Facebook"></a></li>
                        <li class="tw pull-left"><a target="_blank" rel="nofollow" href="https://twitter.com/VenusDigital" title="Twitter"></a></li>
                        <li class="googleplus pull-left"><a target="_blank" rel="nofollow" href="https://google-plus.com/VenusDigital" title="GooglePlus"></a></li>
                        <li class="pintrest pull-left"><a target="_blank" rel="nofollow" href="https://pinterest.com/VenusDigital" title="PInterest"></a></li>
                        <li class="youtube pull-left"><a target="_blank" rel="nofollow" href="https://youtube.com/VenusDigital" title="Youtube"></a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-4 no-padding copyright"><p>All Rights Reserved For Venus Digital , Designed By Marazzo , Customized & Coded By Hurr1cane </p> </div>
                <div class="col-xs-12 col-sm-4 no-padding">
                    <div class="clearfix payment-methods">
                        <ul>
                            <li><img src="/assets/images/payments/1.png" alt=""></li>
                            <li><img src="/assets/images/payments/2.png" alt=""></li>
                            <li><img src="/assets/images/payments/3.png" alt=""></li>
                            <li><img src="/assets/images/payments/4.png" alt=""></li>
                            <li><img src="/assets/images/payments/5.png" alt=""></li>
                        </ul>
                    </div>
                    <!-- /.payment-methods -->
                </div>
            </div>
        </div>
    </footer>