@using System.Security.Claims

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta -->
    <partial name="_Metas" />
    <!--CSS-->
    <partial name="_Refrences" />

</head>
<body class="cnt-home">
    <!--HEADER-->
    <header class="header-style-1">
        <!--TOP MENU-->
        <partial name="_TopMenu" />
        <!-- /.header-top -->
        <!--TOP MENU : END-->
        <div class="main-header">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-3 logo-holder">
                        <!--LOGO-->
                        <div class="logo"> <a href="/"> <img src="/assets/images/logo2.png" alt="logo"> </a> </div>
                        <!-- /.logo -->
                        <!--LOGO : END-->
                    </div>
                    <!-- /.logo-holder -->

                    <div class="col-lg-7 col-md-6 col-sm-8 col-xs-12 top-search-holder">
                        <!-- /.contact-row -->
                        <!--SEARCH AREA-->
                        <partial name="_SearchArea" />
                        <!-- /.search-area -->
                        <!--SEARCH AREA : END-->
                    </div>
                    <!-- /.top-search-holder -->

                    <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12 animate-dropdown top-cart-row">
                        <!--SHOPPING CART DROPDOWN-->
                        @if (User.Identity.IsAuthenticated)
                        {
                            @await Component.InvokeAsync("LittleBasket")
                        }
                        <!-- /.dropdown-cart -->
                        <!--SHOPPING CART DROPDOWN : END-->
                    </div>
                    <!-- /.top-cart-row -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
        </div>
        <!-- /.main-header -->
        <!--NAVBAR-->
        <partial name="_Navbar" />
        <!-- /.header-nav -->
        <!--NAVBAR : END-->

    </header>

    <!--HEADER : END-->
    <div class="body-content outer-top-vs" id="top-banner-and-menu">
        <div class="container">
            <div class="row">
                @RenderSection("SideBar",false)
                @*<partial name="_LeftSideBar"/>*@
                <!--CONTENT-->
                <div class="col-xs-12 col-sm-12 col-md-9 homebanner-holder">
                    <!--SECTION – HERO-->
                    <!--SLIDER HERE-->
                    <!--SECTION – HERO : END-->
                    @RenderBody()
                </div>
                <!-- /.homebanner-holder -->
                <!--CONTENT : END-->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </div>
    <!-- /#top-banner-and-menu -->
    <!--INFO BOXES-->
    <partial name="_InfoBox" />
    <!--INFO BOXES : END-->
    <!--FOOTER-->
    <partial name="_Footer" />
    <!--FOOTER : END-->
    <!--Scripts-->
    <script src="/assets/js/jquery-1.11.1.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/bootstrap-hover-dropdown.min.js"></script>
    <script src="/assets/js/owl.carousel.min.js"></script>
    <script src="/assets/js/echo.min.js"></script>
    <script src="/assets/js/jquery.easing-1.3.min.js"></script>
    <script src="/assets/js/bootstrap-slider.min.js"></script>
    <script src="/assets/js/jquery.rateit.min.js"></script>
    <script src="/assets/js/lightbox.min.js"></script>
    <script src="/assets/js/bootstrap-select.min.js"></script>
    <script src="/assets/js/wow.min.js"></script>
    <script src="/assets/js/scripts.js"></script>
    @await Component.InvokeAsync("Notyf")
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>