<div class="search-area">
    <form action="Search">
        <div class="control-group">
            <input class="search-field" name="q" placeholder="Search here..." />
            <button type="submit" class="search-button" href="#"></button>
        </div>
    </form>
</div>