<div id="hero">
    <div id="owl-main" class="owl-carousel owl-inner-nav owl-ui-sm">
        <div class="item" style="background-image: url(assets/images/sliders/03.png);">
            <div class="container-fluid">
                <div class="caption bg-color vertical-center text-left">
                    <div class="slider-header fadeInDown-1" style="color: whitesmoke">MacBook Pro</div>
                    <div id="kos" class="big-text fadeInDown-1" style="color: whitesmoke"> 2021 </div>
                    <div class="excerpt fadeInDown-2 hidden-xs"> <span>Most Powerful Than Ever !</span> </div>
                    <div class="button-holder fadeInDown-3"> <a href="/Search?q=macbook" class="btn-lg btn btn-uppercase btn-primary shop-now-button">Shop Now</a> </div>
                </div>
                <!-- /.caption --> 
            </div>
            <!-- /.container-fluid --> 
        </div>
        <!-- /.item -->
            
        <div class="item" style="background-image: url(assets/images/sliders/04.png);">
            <div class="container-fluid">
                <div class="caption bg-color vertical-center text-left" style="color: black">
                    <div class="slider-header fadeInDown-1">IPhone 13</div>
                    <div class="big-text fadeInDown-1" style="color: black">ProMax </div>
                    <div class="excerpt fadeInDown-2 hidden-xs" style="color: black"> <span>The Beauty Is Yours !</span> </div>
                    <div class="button-holder fadeInDown-3"> <a href="/Search?q=Iphone" class="btn-lg btn btn-uppercase btn-primary shop-now-button">Shop Now</a> </div>
                </div>
                <!-- /.caption --> 
            </div>
            <!-- /.container-fluid --> 
        </div>
        <!-- /.item --> 
            
    </div>
    <!-- /.owl-carousel --> 
</div>