@model string
<div class="success-register">
    <div class="alert alert-success">
        <p>Dear @Model , Registration process completed successfully.</p><hr/>
        <p>You can now access to your account by login panel , but for accessing all section's you need to activate your account by the email that we sent to you.</p><br/>
        <p class="p-tag-register">*Note:In order to activate account you must sign out of your account and then sign in again !</p><br/>
        <a class="btn btn-primary" asp-controller="Account" asp-action="Login">Login</a>
    </div>
</div>