@model string
<div class="alert alert-success">
    <p>Dear @Model , Registration process completed successfully.</p><hr/>
    <p>You can now access to your account by login panel.</p><br/>
    <a class="btn btn-primary" asp-controller="Account" asp-action="Login">Login</a>
</div>