@model IEnumerable<VenusDigital.Models.ViewModels.WishlistViewModel>

@{
    ViewData["Title"] = "WishList";
}

<div class="col-md-12 my-wishlist">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th colspan="4" class="heading-title">My Wishlist</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="col-md-2 col-sm-6 col-xs-6"><img src="/images/pics/@item.ProductImage" alt="@item.ProductName" id="imgWishlist"></td>
                        <td class="col-md-7 col-sm-6 col-xs-6">
                            <div class="product-name"><a href="#">@item.ProductName</a></div>
                            <div class="rating rateit">
                                <i class="fa fa-star rate"></i>
                                <i class="fa fa-star rate"></i>
                                <i class="fa fa-star rate"></i>
                                <i class="fa fa-star rate"></i>
                                <i class="fa fa-star non-rate"></i>
                                <span class="review">( @item.ReviewsCount Reviews )</span>
                                <button id="rateit-reset-2" data-role="none" class="rateit-reset" aria-label="reset rating" aria-controls="rateit-range-2" style="display: none;"></button>
                                <div id="rateit-range-2" class="rateit-range" tabindex="0" role="slider" aria-label="rating" aria-owns="rateit-reset-2" aria-valuemin="0" aria-valuemax="5" aria-valuenow="4" aria-readonly="true" style="width: 70px; height: 14px;">
                                    <div class="rateit-selected" style="height: 14px; width: 56px;"></div>
                                    <div class="rateit-hover" style="height: 14px"></div>
                                </div>
                            </div>
                            <div class="price">
                                $@item.ProductMainPrice
                                <span>$@item.ProductOffPrice</span>
                            </div>
                        </td>
                        <td class="col-md-2 ">
                            <a href="#" class="btn-upper btn btn-primary">Add to cart</a>
                        </td>
                        <td class="col-md-1 close-btn">
                            <a href="#" class=""><i class="fa fa-times"></i></a>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>



@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}