@*@model IEnumerable<Reviews>*@
@model IEnumerable<VenusDigital.Models.ViewModels.SingleReviewViewModel>

<div class="product-reviews">
    <h4 class="title">Customer Reviews</h4>
    <hr/>
    <div class="reviews">
        @foreach (var review in Model)
        {
            <div style="border: 2px solid #157ED2; border-radius: 10px; margin: 15px;">
                <div class="row" style="margin: 20px;">
                    <div class="col-2">
                        <span style="font-size: 18px;">@review.Username:</span>
                    </div>
                    <div class="col-10" style="padding-left: 65px;">
                        <span style="font-size: 18px; font-weight: bold">@review.ReviewTitle</span>
                        <span style="padding-left: 20px;">@review.ReviewDate</span>
                        <p style="font-size: 16px;">@review.ReviewDescription</p>
                    </div>
                </div>
                
            </div>
        }
    </div><!-- /.reviews -->
</div><!-- /.product-reviews -->

<div class="product-add-review">
    <h4 class="title">Write your own review</h4>
    <hr />
    <div class="review-form">
        <div class="form-container">
            <form class="cnt-form">
                <lable style="font-weight: bold;">Overal Score</lable><span class="astk">*</span><input type="number" min="1" max="5" value="3" class="form-control" style="text-align: center; font-weight: bold; margin: 10px 0px;" />
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="exampleInputName">Your Name <span class="astk">*</span></label>
                            <input type="text" class="form-control txt" id="exampleInputName" placeholder="">
                        </div><!-- /.form-group -->
                        <div class="form-group">
                            <label for="exampleInputSummary">Summary <span class="astk">*</span></label>
                            <input type="text" class="form-control txt" id="exampleInputSummary" placeholder="">
                        </div><!-- /.form-group -->
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="exampleInputReview">Review <span class="astk">*</span></label>
                            <textarea class="form-control txt txt-review" id="exampleInputReview" rows="4" placeholder=""></textarea>
                        </div><!-- /.form-group -->
                    </div>
                </div><!-- /.row -->

                <div class="action text-right">
                    <button class="btn btn-primary btn-upper">SUBMIT REVIEW</button>
                </div><!-- /.action -->

            </form><!-- /.cnt-form -->
        </div><!-- /.form-container -->
    </div><!-- /.review-form -->

</div><!-- /.product-add-review -->