
@{
    ViewData["Title"] = "AboutUs";
}


<div style="text-align: center; padding-left: 200px; font-size: 16px; margin-bottom: 50px;">
    <h2>About Us</h2>
    <hr/>
    <div>
        <p>VenusDigital is a online shop that only sell's digital products. this company is built on march 17,2017 and since that time we always tried respect customer's right's and sell's best , original products with guaranty and warranty original services.
        </p>
        <p>Till today with your supports we have sold over <strong>+600.000</strong> product and right now store has over <strong>+3.000</strong> variety of products.</p>
        <p style="font-weight: bold">We always thanks our customer's for supporting their store like all time and for sure we will do our best to keep them satisfied.</p>
        <br/>
        <strong>Sincerely , David Hoffman.</strong>
    </div>
</div>