@{
    ViewData["Title"] = "ContactUs";
}

<div class="contactus">
    <h2>Contact Us</h2>
    <hr/>
    <div class="col-md-12 contact-info">
        <div class="contact-title">
        </div>
        <div class="contactus-info">
            <div class="clearfix address">
                <span class="contact-i"><i class="fa fa-map-marker"></i></span>
                <span class="contact-span">1020 Granville St , Vancouver, British Columbia , Canada</span>
            </div>
            <div class="clearfix phone-no">
                <span class="contact-i"><i class="fa fa-mobile"></i></span>
                <span class="contact-span">+(604) 696-0040<br>+(604) 696-0041</span>
            </div>
            <div class="clearfix email">
                <span class="contact-i"><i class="fa fa-envelope"></i></span>
                <span class="contact-span"><a>info@venusdigital.com</a></span>
            </div>
        </div>
    </div>
</div>