@{
    ViewData["Title"] = "Faq";
}
<div class="faq-pg" style="">
<div class="checkout-box faq-page-div">
    <div class="row">
        <div class="col-md-12">
            <h2 class="heading-title">Frequently Asked Questions</h2>
            <span class="title-tag">Last Updated on March 04, 2022</span>
            <div class="panel-group checkout-steps" id="accordion">
                <!-- checkout-step-01  -->
                <div class="panel panel-default checkout-step-01">

                    <!-- panel-heading -->
                    <div class="panel-heading">
                        <h4 class="unicase-checkout-title">
                            <a data-toggle="collapse" class="" data-parent="#accordion" href="#collapseOne">
                                <span>1</span>How To Register ?
                            </a>
                        </h4>
                    </div>
                    <!-- panel-heading -->

                    <div id="collapseOne" class="panel-collapse collapse in">

                        <!-- panel-body  -->
                        <div class="panel-body">
                            It is easy , just click on register button top right of page and fill required fields , thats it !
                        </div>
                        <!-- panel-body  -->

                    </div><!-- row -->
                </div>
                <!-- checkout-step-01  -->
                <!-- checkout-step-02  -->
                <div class="panel panel-default checkout-step-02">
                    <div class="panel-heading">
                        <h4 class="unicase-checkout-title">
                            <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseTwo">
                                <span>2</span>How Active My Account ?
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body">
                            You can activate your account after doing register , activating will complete after clicking on activate button inside our sent email in your mailbox !
                        </div>
                    </div>
                </div>
                <!-- checkout-step-02  -->
                <!-- checkout-step-03  -->
                <div class="panel panel-default checkout-step-03">
                    <div class="panel-heading">
                        <h4 class="unicase-checkout-title">
                            <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseThree">
                                <span>3</span>How do I track my order ?
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse">
                        <div class="panel-body">
                            You can track your order simply , just go to <a class="btn btn-info" href="/TrackingOrder">this link</a> and enter your order id.
                            </div>
                    </div>
                </div>
                <!-- checkout-step-03  -->
                <!-- checkout-step-04  -->
                <div class="panel panel-default checkout-step-04">
                    <div class="panel-heading">
                        <h4 class="unicase-checkout-title">
                            <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseFour">
                                <span>4</span>How can I cancel or change my order ?
                            </a>
                        </h4>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse">
                        <div class="panel-body">
                        In order to cancel or change your paid order , you should contact to support , they will just help you to procceed your request !
                            </div>
                    </div>
                </div>
                <!-- checkout-step-04  -->
                <!-- checkout-step-05  -->
                <div class="panel panel-default checkout-step-05">
                    <div class="panel-heading">
                        <h4 class="unicase-checkout-title">
                            <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseFive">
                                <span>5</span>How can I return a product
                            </a>
                        </h4>
                    </div>
                    <div id="collapseFive" class="panel-collapse collapse">
                        <div class="panel-body">
                        If your product is not whats you bought or website information of that product is incorrect , you can simply contacting to support in order to doing reject product and refund process.
                            </div>
                    </div>
                </div>
                <!-- checkout-step-05  -->
                <!-- checkout-step-06  -->
                <div class="panel panel-default checkout-step-06">
                    <div class="panel-heading">
                        <h4 class="unicase-checkout-title">
                            <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseSix">
                                <span>6</span>How long will it take to get my package ?
                            </a>
                        </h4>
                    </div>
                    <div id="collapseSix" class="panel-collapse collapse">
                        <div class="panel-body">
                        It depends to your location , usually in take between 3-10 days.
                            </div>
                    </div>
                </div>
                <!-- checkout-step-06  -->
                <!-- checkout-step-07  -->
                <div class="panel panel-default checkout-step-07">
                    <div class="panel-heading">
                        <h4 class="unicase-checkout-title">
                            <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseSeven">
                                <span>7</span>How Can I Check My Order History ?
                            </a>
                        </h4>
                    </div>
                    <div id="collapseSeven" class="panel-collapse collapse">
                        <div class="panel-body">
                        You can simply check your orders history by going to <a class="btn btn-info" href="/MyAccount/OrderHistory">this link</a>.
                            </div>
                    </div>
                </div>
                <!-- checkout-step-07  -->
                <!-- checkout-step-08  -->
                <div class="panel panel-default checkout-step-08">
                    <div class="panel-heading">
                        <h4 class="unicase-checkout-title">
                            <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseEight">
                                <span>8</span>Do you provide any warranty ?
                            </a>
                        </h4>
                    </div>
                    <div id="collapseEight" class="panel-collapse collapse">
                        <div class="panel-body">
                        Yes , we provide a 7 day warranty for the products that have any problems !
                            </div>
                    </div>
                </div>
                <!-- checkout-step-08  -->
                <!-- checkout-step-09  -->
                <div class="panel panel-default checkout-step-09">
                    <div class="panel-heading">
                        <h4 class="unicase-checkout-title">
                            <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseNine">
                                <span>9</span>How Can I Contact Support ?
                            </a>
                        </h4>
                    </div>
                    <div id="collapseNine" class="panel-collapse collapse">
                        <div class="panel-body">
                            You can contact us by any ways of <a class="btn btn-info" href="/helpcenter">these ways</a>.
                            </div>
                    </div>
                </div>
                <!-- checkout-step-09  -->
                <!-- checkout-step-10  -->
                <div class="panel panel-default checkout-step-10">
                    <div class="panel-heading">
                        <h4 class="unicase-checkout-title">
                            <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseTen">
                                <span>10</span>I Forgot My Account Password , What Should I Do ?
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTen" class="panel-collapse collapse">
                        <div class="panel-body">
                            You can simply recover your password by clicking on <a href="/ForgetPassword" class="btn btn-info">this link</a>
                        </div>
                    </div>
                </div>
                <!-- checkout-step-10  -->
            </div><!-- /.checkout-steps -->
        </div>
    </div><!-- /.row -->
</div>
</div>
