@{
    ViewData["Title"] = "HelpCenter";
}

<div class="help-center">
    <h2>Help Center</h2>
    <hr />
    <div class="col col-md-12">
        <h4>Contact Us</h4>
        <a href="/ContactUs">
            <img  src="/assets/images/banners/ContactUs.png" class="img-thumbnail contactus-banner" alt="Contact Us" />
        </a>
         </div>
    <div class="row">
        <div class="col col-md-12">
            <div class="col col-md-6">
                <h4>Ticketing Service</h4>
                <a href="/Ticket">
                    <img src="/assets/images/banners/Ticket.png" class="img-thumbnail ticket-faq-banner" alt="Ticket" />
                </a>

            </div>
            <div class="col col-md-6">
                <h4>FAQ</h4>
                <a href="/FAQ">
                    <img  src="/assets/images/banners/FAQ.png" class="img-thumbnail ticket-faq-banner" alt="FAQ" />
                </a>
            </div>
        </div>
    </div>
</div>



