@{
    ViewData["Title"] = "HelpCenter";
}

<div style="padding-left: 200px;text-align: center">
    <h2>Help Center</h2>
    <hr/>
    <div class="col col-md-12">
        <h4>Contact Us</h4>
        <img href="/ContactUs" src="/assets/images/banners/ContactUs.png" style="width: 1000px; height: 550px; margin-bottom: 50px;" class="img-thumbnail" alt="Contact Us" />
    </div>
    <div class="row">
        <div class="col col-md-12">
            <div class="col col-md-6">
                <h4>Ticketing Service</h4>
                <a href="/Ticket">
                     <img src="/assets/images/banners/Ticket.png" style="width: 500px; height: 300px; margin-bottom: 50px;" class="img-thumbnail" alt="Ticket"/>
                </a>
               
            </div>
            <div class="col col-md-6">
                <h4>FAQ</h4>
                <img href="/ContactUs" src="/assets/images/banners/FAQ.png" style="width: 500px; height: 300px; margin-bottom: 50px;" class="img-thumbnail" alt="FAQ"/>
            </div>
        </div>
    </div>
</div>



