@model VenusDigital.Models.Supports

@{
    ViewData["Title"] = "Support";
}
<div class="support-pg">
    <h2 style="text-align: center">Support Ticket</h2>

    <hr />
    <div class="row">
        <div class="col-md-12">
            <form asp-action="Support">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="UserFullName" class="control-label"></label>
                    <input asp-for="UserFullName" class="form-control" />
                    <span asp-validation-for="UserFullName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="UserEmailAddress" class="control-label"></label>
                    <input asp-for="UserEmailAddress" class="form-control" />
                    <span asp-validation-for="UserEmailAddress" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="RequestTitle" class="control-label"></label>
                    <input asp-for="RequestTitle" class="form-control" />
                    <span asp-validation-for="RequestTitle" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="RequestDescription" class="control-label"></label>
                    <textarea asp-for="RequestDescription" class="form-control"></textarea>
                    <span asp-validation-for="RequestDescription" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Send Ticket" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>






@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
