#imageInDetailProduct {
    width: 200px;
    height: 200px;
    margin: 20px;
}

/* Dropdown Button */
.dropbtn {
    background-color: #6777EF;
    color: white !important;
    padding: 16px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    border-radius: 10px;
    margin: 20px 0px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;

}

/* Links inside the dropdown */
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        border-radius: 10px;
    }

/* Change color of dropdown links on hover */
        .dropdown-content a:hover {
            background-color: #ddd;
            border-radius: 5px;
        }

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
    border-radius: 10px;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #157ED2;
    border-radius: 10px;
}

.subCategoryStyle {
    padding-left: 5px;
}

#imgCategoryDetail {
    width: 250px;
    height: 250px;
    margin: 10px;
}

.imgInGalleryIndex {
    width: 150px;
    height: 150px;
    margin: 10px;
}
.imgInDeleteGallery {
    width: 150px;
    height: 150px;
    margin: 10px;
}
#note {
    font-size: 12px;
}
#printOrderBtn {
    margin-bottom: 10px;
}
.imgInDeleteSlider {
    width: 400px;
    height: 200px;
    margin: 10px;
}
.imgInIndexSlider {
    width: 200px;
    height: 100px;
}
.sliderInfo {
    color: #157ed2;
    font-size: 12px;
}