@model VenusDigital.Models.Newsletters

@{
    ViewData["Title"] = "AddUserToNewsLetter";
}




<div class="row" align="center" style="padding-left: 150px;">
    <h2 style="text-align: center">Subscribe To Newsletter</h2>
    <hr />
    <p>Join to our newsletter inorder to getting latest technology news as soon as it happens ! just enter your email address !</p>
    <hr/>
    <div class="col-12">
        <form asp-action="AddUserToNewsLetter">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NewslettersSubedUserEmail" class="control-label"></label>
                <input asp-for="NewslettersSubedUserEmail" class="form-control"/>
                <span asp-validation-for="NewslettersSubedUserEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Subscribe" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
