.centerIt {
    text-align: center !important;
}

.userInfoTB {
    margin: 50px;
}

.changeInfo {
    padding-left: 200px;
    text-align: center;
    margin: 20px;
}

.loginPage {
    padding-left: 300px;
    margin: 20px;
}

.loginPage h2 {
    text-align: center;
}

.myaccountpg {
    padding-left: 200px;
}

.myaccountpg h1 {
    text-align: center
}

.myaccountpg nav {
    font-size: 16px;
    margin-bottom: 20px;
    text-align: center;
}
.myinfopg {
    font-size: 16px;
    margin-bottom: 20px;
    text-align: center;
    padding-left: 200px;
}
.myinfopg table {
    font-size: 14px;
}
.myinfopg table th {
    text-align: center;
}
.orderhistorypg {
    padding-left: 200px;
    text-align: center;
    font-size: 16px;
}
.orderhistorypg th {
    text-align: center;
}
.orderhistorydetails {
    padding-left: 200px;
    text-align: center;
    font-size: 16px;
}
.orderhistorydetails h2 {
    font-weight: bold;
}
.orderhistorydetails img {
    width: 100px;
    height: 100px;
}
.orderhistorydetails th {
    text-align: center;
}
.newpassword {
    padding-left: 200px;
}
.newpassword h2 {
    text-align: center;
}
.registerpg {
    padding-left: 300px;
    margin-bottom: 30px;
}
.registerpg h2 {
    text-align: center;
}
.checkoutpg {
    padding-left: 300px;
    text-align: center;
    margin-bottom: 30px;
}

.showcartdetails {
    padding-left: 300px;
    margin-bottom: 30px;
}
.showcartdetails p {
    font-size: 11px;
    margin-top: 10px;
}
.showcartdetails h1 {
    padding-left: 300px;
    font-weight: bold;
    margin: 20px;
}
.emptyCart {
    margin-bottom: 50px;
    padding-left: 300px;
}
.showCompareList {
    padding-left: 200px;
    text-align: center
}
.product-in-home {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}
.product-in-home-div {
    background: #fff;
    border-radius: 5px;
    margin: 10px;
}
.product-in-home-div p {
    font-size: 24px;
    margin-top: 10px;
}
.single-product-home {
    margin: 20px 0 20px 0;
}
.image-banner {
    padding-left: 25px;
}
.img-big-banner {
    width: 880px;
    height: 220px;
    border-radius: 10px;
}
.img-small-banner {
    width: 415px;
    height: 220px;
    border-radius: 10px;
}
.img-single-banner {
    width: 1323px;
    height: 220px;
    border-radius: 10px;
    margin-top: 10px
}
.privacy {
    padding-left: 300px;
}
.newsletter {
    padding-left: 150px;
}
.newsletter h2 {
    text-align: center;
}
.product-search {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    padding-left: 200px;
}
.product-search-items {
    background: #fff;
    border-radius: 5px;
    margin: 10px;
}
.product-search-items p {
    font-size: 24px;
    margin-top: 10px;
}
.product-search-items-single {
    margin: 20px 0 20px 0;
}
.product-search-notfound {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    padding-left: 200px;
    margin: 20px;
}
.show-best-selling {
    margin-bottom: 20px;
}
.show-product-details {
    padding-left: 250px;
}
.product-owl {
    opacity: 1;
    display: block;
}
.product-owl-wrapper {
    width: 5796px;
    left: 0px;
    display: block;
    transform: translate3d(0px, 0px, 0px);
}
.product-owl-wrapper-item {
    width: 322px;
}
.thumb-owl {
    width: 1458px;
    left: 0px;
    display: block;
    transform: translate3d(0px, 0px, 0px);
    margin-top: 10px;
}
.thumb-owl-carousel {
    opacity: 1;
    display: block;
}
.small-gallary-img {
    width: 81px;
}
.category-items {
    margin: 10px;
    font-weight: bold;
    font-size: 14px;
}
.tabs-titles {
    padding-left: 220px;
}
.review-score-lbl {
    font-weight: bold;
}
.input-score {
    text-align: center;
    font-weight: bold;
    margin: 10px 0px;
}
.cannot-review {
    font-size: 18px;
    text-align: center
}
.img-single-product {
    width: 300px;
    height: 300px;
}
.single-product-span {
    text-decoration: line-through;
    color: grey
}
.single-product-a {
    margin: 10px;
}
.success-register {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    padding-left: 300px;
}
.success-register div {
    margin-bottom: 30px;
}
.p-tag-register {
    color: #157ED2;
    font-size: 12px;
}
.notfound-page {
    padding-left: 300px;
}
.aboutus {
    text-align: center;
    padding-left: 200px;
    font-size: 16px;
    margin-bottom: 50px;
}
.contactus {
    text-align: center;
    padding-left: 200px;
}
.contactus-info {
    font-size: 20px;
    margin-bottom: 50px;
}
.faq-pg {
    padding-left: 250px;
}
.faq-page-div {
    margin-bottom: 30px;
}
.help-center {
    padding-left: 200px;
    text-align: center
}
.contactus-banner {
    width: 1000px;
    height: 550px;
    margin-bottom: 50px;
}
.ticket-faq-banner {
    width: 550px;
    height: 300px;
    margin-bottom: 50px;
}
.support-pg {
    padding-left: 300px;
}
.review-pg {
    border: 2px solid #157ED2;
    border-radius: 10px;
    margin: 15px;
}
.review-pg-down {
    margin: 20px;
}
.span-review {
    font-size: 18px;
}
.span-review-row {
    padding-left: 65px;
}
.span-review-inner {
    font-size: 18px;
    font-weight: bold
}
.review-section-span {
    padding-left: 20px;
}
.span-review-row p {
    font-size: 16px;
}
.p-tag-littlebasket {
    font-size: 10px;
    text-align: center
}
.categories-img {
    width: 250px;
    margin-left: 650px;
}
.img-left-categories {
    width: 200px;
    margin: 16px;
}