@model VenusDigital.Models.Products

@{
    ViewData["Title"] = "Product";
    List<int> selectedCategories = ViewBag.SelectedCategories;
    List<Categories> categories = ViewBag.Categories;
}

<h2>Update Product</h2>

<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ProductId" />
            <div class="form-group">
                <label asp-for="ProductTitle" class="control-label"></label>
                <input asp-for="ProductTitle" class="form-control" />
                <span asp-validation-for="ProductTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductShortDescription" class="control-label"></label>
                <input asp-for="ProductShortDescription" class="form-control" />
                <span asp-validation-for="ProductShortDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductLongDescription" class="control-label"></label>
                <textarea asp-for="ProductLongDescription" class="form-control" ></textarea>
                <span asp-validation-for="ProductLongDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductInStock" class="control-label"></label>
                <input asp-for="ProductInStock" class="form-control" />
                <span asp-validation-for="ProductInStock" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductQuantityInStock" class="control-label"></label>
                <input asp-for="ProductQuantityInStock" class="form-control" />
                <span asp-validation-for="ProductQuantityInStock" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductMainPrice" class="control-label"></label>
                <input asp-for="ProductMainPrice" class="form-control" />
                <span asp-validation-for="ProductMainPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductScore" class="control-label"></label>
                <input asp-for="ProductScore" class="form-control" />
                <span asp-validation-for="ProductScore" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductOnSalePrice" class="control-label"></label>
                <input asp-for="ProductOnSalePrice" class="form-control" />
                <span asp-validation-for="ProductOnSalePrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SalePercent" class="control-label"></label>
                <input asp-for="SalePercent" class="form-control" />
                <span asp-validation-for="SalePercent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreateDate" class="control-label"></label>
                <input asp-for="CreateDate" class="form-control" />
                <span asp-validation-for="CreateDate" class="text-danger"></span>
            </div>
            
        <label>Categories</label><br/>
        @foreach (var category in categories.Where(c => c.ParentId == null))
        {
            <div class="dropdown">
                <a class="dropbtn"> <input type="checkbox" name="selectedGroups" value="@category.CategoryId" @((selectedCategories.Any(c=>c==category.CategoryId)?"checked":""))/><span>&nbsp;@category.CategoryName</span></a>
                <div class="dropdown-content">
                    @foreach (var subCategory in categories.Where(c => c.ParentId == category.CategoryId))
                    {
                        <p class="subCategoryStyle"><input type="checkbox" name="selectedGroups" value="@subCategory.CategoryId" @((selectedCategories.Any(c=>c==subCategory.CategoryId)?"checked":""))/><span>&nbsp;@subCategory.CategoryName</span></p>
                    }
                </div>
            </div>
        }

            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-outline-warning" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/adminAssets/ckeditor/ckeditor.js"></script>
    <script>
        CKEDITOR.replace('ProductLongDescription');
    </script>
}
