@model Users
<div style="text-align: center">
    <h1>Activate Account</h1>
    <div>
        <p>For activating your account please click on below button:</p>
        <a href="http://localhost:30735/Active/@Model.EmailAddress/@Model.UserIdentifierCode" class="btn btn-primary">Activate</a>
    </div>

</div>
