@model Users

<div class="alert alert-info" style="text-align: center">
    <p>Dear @Model.UserName !</p>
    <p>We have received a request that you want to recover your password ! if this was you please click on button below:</p>
    <a class="btn btn-warning" href="http://localhost:30735/RecoverPassword/@Model.UserIdentifierCode">Recover Password</a>
</div>