@model Users

<div class="alert alert-info" align="center">
    <p> password has successfully changed by your request.</p>
    <hr/>
    <p>Your new password is:@Model.Password</p>
    <br/>
    <br/>
    <br/>
    <p>If you have any problem please feel free to contact us , or if it wasn't you please report us immediately</p>
    <a class="btn btn-outline-secondary" href="http://localhost:30735/ContactUs">Contact Us</a>
</div>