@model VenusDigital.Models.ViewModels.LoginViewModel

@{
    ViewData["Title"] = "Login";
}
<div class="loginPage">
    <h2>Sign In</h2>
    <hr />

    <div class="body-content">
        <div class="container">
            <div class="sign-in-page">
                <div class="row">
                    <!-- Sign-in -->
                    <div class="col-md-12 col-sm-12 sign-in">
                        <h4 class="">Sign in</h4>
                        <p class="">Hello, Welcome to your account.</p>
                        <form class="register-form outer-top-xs" role="form" asp-action="Login">
                            <div class="form-group">
                                <label class="info-title" for="exampleInputEmail1">Email Address <span>*</span></label>
                                <input type="email" asp-for="Email" class="form-control unicase-form-control text-input" id="exampleInputEmail1">
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="info-title" for="exampleInputPassword1">Password <span>*</span></label>
                                <input type="password" asp-for="Password" class="form-control unicase-form-control text-input" id="exampleInputPassword1">
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <div class="radio outer-xs">
                                <div class="form-group">
                                    <div class="checkbox">
                                        <label>
                                            <input asp-for="RememberMe" /> @Html.DisplayNameFor(model => model.RememberMe)
                                        </label>
                                    </div>
                                </div>
                                <a asp-action="ForgetPassword" asp-controller="Account" class="forgot-password pull-right">Forgot your Password?</a>
                                <br/>
                                <a asp-action="Register" asp-controller="Account" class="forgot-password pull-right">Sign Up !</a>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Login" class="btn btn-primary" />
                            </div>
                        </form>
                    </div>
                    <!-- Sign-in -->
                </div><!-- /.row -->
            </div><!-- /.Sign-in-->
        </div><!-- /.container -->
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}