
@{
    ViewData["Title"] = "MyAccount";
}

<div class="card">
    <div class="card-body">
        <div style="padding-left: 180px;">
            <h1 style="text-align: center">Quick Access</h1>
            <hr/>
            <nav class="nav" style="font-size: 16px; margin-bottom: 20px; text-align: center;">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="/MyInfo">My Information's</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/OrderHistory">My Order History</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/ChangeInformations">Changing My Information's</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="/ChangePassword">Changing Password</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
