
@{
    ViewData["Title"] = "SuccesForgotPassword";
}

<h2>SuccesForgotPassword</h2>

<div class="alert alert-success">
    <p>A recover email has successfully sent to your email address !</p>
    <hr/>
    <p>Please Go to your email address and verify its you !</p>
</div>

